<h2 class = "proj_title _bold">SIMPLE TODO LIST</h2>
<h4 class = "proj_title ">FROM RUBY GARAGE</h4>

<div class = "content"></div>

<div class = "add_todo">
    <span class = "glyphicon glyphicon-plus"></span> Add TODO List
</div>

<div class = "copyright">
    © Ruby Garage
</div>
